<h1><%= @brewery.name %> Beers</h1>
<% @beers.each do |beer| %>
  <h3><%= beer.name %></h3>
  <p>Style: <%= beer.style %> | ABV: <%= beer.abv %>% | IBUs: <%= beer.ibu %> | Limited Release?: <%= beer.limited_release ? "Yes" : "No" %></p>
<% end %>
