<h2><%= @brewery.name %> Beers</h2>
<p><%= link_to "Return to Brewery Page", "/breweries/#{@brewery.id}" %></p>
<p><%= link_to "Sort By Name", sort_by: :name %>
<% @beers.each do |beer| %>
  <h3><%= link_to beer.name, "/beers/#{beer.id}" %></h3>
  <p>Style: <%= beer.style %> | ABV: <%= beer.abv %>% | IBUs: <%= beer.ibu %> | Currently In Production?: <%= beer.in_production ? "Yes" : "No" %></p>
<% end %>
<br>
<%= button_to "Add New Beer", "/breweries/#{@brewery.id}/beers/new", method: :get %>
