<%= form_with url: '/breweries', method: :post, local: true do |form| %>
  <table>
    <tr><td colspan="2"><h2>Add New Brewery</h2></td></tr>
    <tr>
      <td style="text-align: end"><%= form.label :name, "Name: " %></td>
      <td><%= form.text_field :name, required: true %></td>
    </tr>
    <tr>
      <td style="text-align: end"><%= form.label :city, "City: " %></td>
      <td><%= form.text_field :city, required: true %> </td>
    </tr>
    <tr>
      <td style="text-align: end"><%= form.label :state, "State: " %></td>
      <td><%= form.text_field :state, maxlength: 2, required: true %></td>
    </tr>
    <tr>
      <td style="text-align: end"><%= form.label :founded, "Year Founded: " %></td>
      <td><%= form.number_field :founded, in: 1800..2030, step: 1, required: true %></td>
    </tr>
    <tr>
      <td style="text-align: end"><%= form.label :annual_production, "Annual Production: " %></td>
      <td><%= form.number_field :annual_production, in: 0..10000000, required: true%></td>
    </tr>
    <tr>
      <td style="text-align: end"><%= form.label :ba_member, "BA Member: " %></td>
      <td><%= form.check_box :ba_member %></td>
    </tr>
    <tr><td colspan="2" height="15px"> </td></tr>
    <tr><td></td><td><%= form.submit "Add Brewery" %></td></tr>
  </table>

<% end %>
