<h2>Beers Currently In Production</h2>
<%= form_with url: "/beers", method: :get, local: true, id: 'exact_search_form' do |form| %>
  <%= form.hidden_field(:view, value: 'search_exact') %>
  <%= form.label :search_exact, "Search Exact: " %>
  <%= form.text_field :search_exact, value: params[:search_exact] %>
  <%= form.submit "Search" %>
<% end %><br>
<%= form_with url: "/beers", method: :get, local: true, id: 'partial_search_form' do |form| %>
  <%= form.hidden_field(:view, value: 'search_partial') %>
  <%= form.label :search_part, "Search Partial: " %>
  <%= form.text_field :search_part, value: params[:search_part] %>
  <%= form.submit "Search" %>
<% end %>
<br>
<table style="width: 60%">
<% @beers.each do |beer| %>
  <tr>
    <td><table id="<%= beer.id %>" style="border:2px solid black; width: 100%; border-collapse: collapse">
      <tr style="border-bottom: 2px solid black">
        <td style="padding: 5px"><h3 style="margin:0"><%= link_to beer.name, "/beers/#{beer.id}" %></h3></td>
        <td style="text-align: right; padding: 5px"><%= link_to "Edit", "/beers/#{beer.id}/edit" %> | <%= link_to "Delete", "/beers/#{beer.id}", method: :delete %></td>
      </tr>
      <tr>
        <td colspan="2" style="padding: 5px">
          <p style="margin:0; padding: 0;"><%= link_to beer.brewery.name, "/breweries/#{beer.brewery.id}" %> | Style: <%= beer.style %><br>
          ABV: <%= beer.abv %>% | IBUs: <%= beer.ibu %> | Currently In Production?: <%= beer.in_production ? "Yes" : "No" %></p>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr style="height: 15px"></tr>
<% end %>
</table>