  <h2><%= @beer.name %></h2>
  <p><%= link_to @beer.brewery.name, "/breweries/#{@beer.brewery.id}" %> | Style: <%= @beer.style %><br>
  ABV: <%= @beer.abv %>% | IBUs: <%= @beer.ibu %> | Currently In Production?: <%= @beer.in_production ? "Yes" : "No" %>