  <h1><%= @beer.name %></h1>
  <p><%= @beer.brewery.name %> | Style: <%= @beer.style %><br>
  ABV: <%= @beer.abv %>% | IBUs: <%= @beer.ibu %> | Limited Release?: <%= @beer.limited_release ? "Yes" : "No" %>