  <h1><%= @beer.name %></h1>
  <p><%= link_to @beer.brewery.name, "/breweries/#{@beer.brewery.id}" %> | Style: <%= @beer.style %><br>
  ABV: <%= @beer.abv %>% | IBUs: <%= @beer.ibu %> | Limited Release?: <%= @beer.limited_release ? "Yes" : "No" %>