<!DOCTYPE html>
<html>
  <head>
    <title>Brews and Breweries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Brews and Breweries</h1>
    <div style="font-size: 13; font-weight: bold;"><%= link_to "View All Breweries", "/breweries" %> | <%= link_to "View All Beers", "/beers" %></div>

    <%= yield %>
    
  </body>
</html>
